.box{
display:  flex;
align-items: baseline;
justify-content: center;
}

h2, h3, h4, h5{
  font-family: avenir;
  letter-spacing: 7px;
}

.logo ul{
  list-style: none;
  padding: 10px;
}

.logo a{
  font-size: 50px;
  font-family: Avenir;
  letter-spacing: 7px;
  text-align: center;
  font-style: bold;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

h1{
  font-size: 50px;
  font-family: Avenir;
  letter-spacing: 7px;
  text-align: center;
  font-style: bold;
}

h2{
  margin-top: 90px;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

h3{
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

.media{
  text-align: right;
}

.media i{
  width: 40px;
  margin-right: 20px;
}

.facebook{
  margin-top: 35px;
  padding: 14px 10px;
  position: absolute;
  right: 6%;
}

.linkedin{
  margin-top: 35px;
  padding: 14px 10px;
  position: absolute;
  right: 8%;
}

.instagram{
  margin-top: 35px;
  padding: 14px 10px;
  position: absolute;
  right: 3%;
}

.nav ul{
  list-style: none;
  background: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li{
   display: inline-block;
}

.nav a{
  text-decoration: none;
  color: black;
  width: 250px;
  display: block;
  padding: 20px;
  font-size: 17px;
  font-family: Avenir;
}

.background{
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1330px 1330px;

}

.center{
  margin: auto;
  width: 85%;
}

h4{
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

ul.b{
  list-style-type: none;
  font-family: avenir;
  padding:14px 10px;
}

.EEC{
  font-size: 32px;
  margin-top: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
  text-align: left;
  width: 100%;
  padding-top: 15px;
}

.bedrift{
  font-size: 29px;
  font-weight:normal;
  padding-top: 20px;
}

.by{
  font-size: 20px;
  font-weight: lighter;
  color: grey;
  position: absolute;
  right: 9%;
  font-family: avenir;
}

.dato{
  font-size: 24px;
  font-weight:normal;
  position: absolute;
  padding-top: 5px;
}

h5{
font-size: 15px;
}

.insta-gallery{
  margin-left: 45px;
  justify-content: center;
  display: flex:
}

.insta-gallery img{
  padding: 15px;
  width: 250px;
  height: 250px;
}

h6{
  font-size: 15px;
  font-family: Avenir;
  letter-spacing: 7px;
  font-weight: lighter;
}


.flexbox2-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 105px;
  margin-right: 100px;
  margin-top: 75px;
}

.flexbox3-container{
  background-color: black;
  font-family: Avenir;
}

.flexbox3-items{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.flexbox3-item1{
  color: gray;
  font-weight: lighter;
  font-size: 25px;
  background-color: white;
  overflow: visible;
  margin: 40px;
  margin-left: -50px;
  padding-left: 50px;
  padding-right: 80px;
}

.flexbox3-item2{
  font-weight:bold;
  border: 10px 10px;
  border-color: white;
  color: white;
  font-size: 35px;
}

h7{
  font-size: 30px;
  font-weight: bold;
  font-family: Avenir;
  letter-spacing: 7px;
  color: white;
  margin-left: 550px;
  padding-top: 50px;
  overflow: visible;
}
